{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-multi-spaces": [0, { "exceptions": { "VariableDeclarator": true } }],
    "import/prefer-default-export": [1],
    "react/forbid-prop-types": [0],
    "jsx-a11y/no-static-element-interactions": [0]
  }
}
