

:local .container {
  height: 400px;
  display: flex;
  justify-content: center;
}

:local .inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}



:local .svg_container {
  height: 100px;
  width: 100px;
}

:local .chart {
  height: 100px;
  width: 100px;
}

:local .bars {

}

