@import './../../../styles/color.css';

:local .container {
  height: 400px;
  display: flex;
  justify-content: center;
}

:local .inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


:local .svg_container {
  height: 100px;
  width: 100px;
}

:local .chart {
  height: 100px;
  width: 100px;
}

:local .theme_up {
  fill: $theme-success;
}

:local .theme_down {
  fill: $theme-danger;
}

:local .theme_unchanged {
  fill: lightsteelblue;
}

:local .bars {
}

.x-axis {
  path {
    /* display: none; */
     stroke-width: 1px;
    stroke: #6a7f8e;
    stroke-width: 2;
    fill: none;
  }
  line {
    /* stroke-width: 1px; */
    stroke: #6a7f8e;
    stroke-width: 2;
    shape-rendering: crispEdges;
    /* fill: none; */
  }
}
