@import './../../styles/color.css';

:local .container {

  h1 {
    margin: 6rem auto 2rem;
    cursor: default;
  }

  a {
    color: $table-stock-name;
    text-decoration: none;
    transition: color .1s;
    margin-bottom: 5rem;
    font-size: 1.5rem;

    &:hover {
      color: $table-stock-name-active;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dashboard-title-text;
};

