$search-border: #e2e2e2;
$search-border-active: #fa0;
$search-placeholder: #92989b;

$table-cross: #f6f7fa;
$table-border: #e5ebee;
$table-stock-name: cornflowerblue;
$table-stock-name-active: lightskyblue;

/*$dashboard-text: steelblue;*/

$dashboard-title-text: #4a525b;
$dashboard-text: #6a7f8e;

