@import './../../styles/color.css';

:local .container {
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
};

:local .searchbar {
  width: 80%;
  max-width: 800px;
  border: 2px solid $search-border;
  background-color: transparent;
  line-height: 2;
  padding: 0 1.5rem;
  border-radius: 5px;
  font-size: 20px;
  -webkit-appearance: none;
  color: $search-placeholder;

  &:focus {
    border-color: $search-border-active;
    outline: 0;
  };
};


