@import './../../styles/color.css';

:local .container {
  position: relative;
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
justify-content: center;
};

:local .searchbar_container {
  position: relative;
  height: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
};

:local .searchbar {
  position: absolute;
  width: 80%;
  max-width: 720px;
  border: 2px solid $search-border;
  background-color: transparent;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 5px;
  font-size: 20px;
  -webkit-appearance: none;
  color: $search-placeholder;

  &:focus {
    border-color: $search-border-active;
    outline: 0;
  };
};

